html, body{
	margin: 0;
	padding: 0;
}

#header{
	text-align:center;
}

#header p{
	font-size: 40px;
	padding:0;
	margin:0;
}

#page-type{
	text-align:center;
	font-size:30px;
}

.hidden{
	display: none;
}

#create-acct{
	font-size: 12px;
}